<!-- information about ikuun and the its purupose

================================================== -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What is iKuun?<span class="text-muted"></span></h2>
          <p>Ikuun comes from I kuungana, which means, in Shuahili, I connect. This is our aim and unique goal of iKkun to connect people across the globe</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/people.jpg" heigth="250" width="250" alt="social">
        </div>
      </div>

      <hr class="featurette-divider">

       <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Start-up.</h2>
         <p>iKuun is a start-up company registered in Santander (Spain), in 2014.</p>
         <p>.. TEXT ...
            
        </div>
      </div>
      <hr class="featurette-divider">


       <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Team</h2>
         <p>iKuun is a start-up company registered in Santander (Spain), in 2014.</p>
         <p>.. TEXT ...
            
        </div>
      </div>

      <hr class="featurette-divider">

     