<!-- information about ikuun and the its purupose

================================================== -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What is iKuun?<span class="text-muted"></span></h2>
          <p class="lead">Ikuun comes from I kuungana, which means, in Shuahili, I connect. This is our aim and unique goal of <img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"> to connect people across the globe</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/people.jpg" heigth="250" width="250" alt="social">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/people.jpg" heigth="250" width="250" alt="social">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Start up company. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead"><img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"> is a start up company set up in Spain</p>
        </div>
      </div>

   

     