


<table cellspacing="0" width=750px>
		
    <tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. Country" autofocus/>  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. Pick up address" >  
 </td>
			</tr>
    
<tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. City/Village"  >  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. City/Village"  >  
 </td>
			</tr>    
    
<tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. Address"  >  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. Address"   >  
 </td>
			</tr>
    
<tr class="first">
				<td ><input type="text"    ng-model="create.from_country" class="form-control"  placeholder="From. PostCode" autofocus/>  </td>
				<td> <input type="text"   ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. PostCode" >  
 </td>
			</tr>
    
<tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. Enter url (eg. from google maps" autofocus/>  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. Enter full url (eg. from google maps)" >  
 </td>
			</tr>    
    
        </table>
     

     
<hr class="featurette-divider">
    <AppTitle><img src="/images/shareuser.png" heigth="30" width="30" > package spec</AppTitle>     
<hr class="featurette-divider">

     
   
     <table cellspacing="0" width=750px>
		
    <tr class="first">
				<td > <input type="text"  required  ng-model="create.request_weight_package" class="form-control"   placeholder="Provide weight size" >  </td>
								<td > <input type="dropdown menu"  required  ng-model="create.request_weight" class="form-control"   placeholder="kilos/pounds" >  </td>
 </td>
			</tr>
    
        </table>

     <br>     

    
<textarea rows="4" cols="50" type="area"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="provide further comments about the package"  >
</textarea>    
    
                           <br>

     
     
     


 <hr class="featurette-divider">
    <AppTitle> <img src="/images/shareuser.png" heigth="30" width="30" > time. request</AppTitle>     
<hr class="featurette-divider">
   

        <table cellspacing="0" width=150px>
		
    <tr class="first">
				<td > <input type="text"  required  ng-model="create.request_duration_minutes" class="form-control"   placeholder="minutes" >  </td>
								<td ><label>enable</label></td>
 </td>
			</tr>
    
        </table>

    

    
                               <br>

    
<textarea rows="4" cols="50" type="area"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="further comments you would like to add"  >
</textarea>    
    
                           <br>

<hr class="featurette-divider">
    <AppTitle><img src="/images/shareuser.png" heigth="30" width="30" > sharing cost</AppTitle>     
<hr class="featurette-divider">


  <table cellspacing="0" width=750px>
		
    <tr class="first">
				<td > <input type="text"  required  ng-model="create.request_payment_money" class="form-control"   placeholder="Provide weight size"  >  </td>
								<td > <input type="dropdown menu"  required  ng-model="create.request_currency_id" class="form-control"   placeholder="kilos/pounds"  >  </td>
 </td>
			</tr>
    
        </table>    


    <br>       
     

  <button class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="changeuserinfo()">save and submit a social request</button>        
</form>
                                    <br>
                           <br>
                           <br>
