<!DOCTYPE html>
<html lang="en" ng-app="ikuun-app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ikuun. home of social business </title>
    
<!-- css stuff here
================================================== -->    
  <link rel="stylesheet" href="/css/user_bootstrap.min.css">    
    
</head>

    
<!-- BAV BAR 
================================================== -->


<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
     <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/app"><img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#/app/user-create-request" class="dropdown-toggle" data-toggle="dropdown">about me<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/app/user-information">my information </a> </li>
            <li><a href="#/app/user-modify-access">change password </a> </li>
            <li><a href="#/app/user-rating">ratings</a> </li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#/app/user-create-request" class="dropdown-toggle" data-toggle="dropdown">my ikuun activity<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/app/user-activity">my activity</a> </li>        
            <li><a href="#/app/user-create-request">create a request</a> </li>   
          </ul>
        </li>
          <li><a href="#/app">all ikuun activity</a></li>
          
        <li><a href="#/">disconnect</a></li>
      </ul>
    </div><!-- /.navbar-collapse collapse . change language -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

<!-- END BAV BAR -->

<!-- dynamic content 
================================================== -->
    
    
 <div ng-controller="myCtrl">


   <h1>From</h1>
  <label>Country</label>
  <input type="text"  required  ng-model="create.from_country"> <br>
 
      <label>Pick Up address</label>
  <input type="text"  required ng-minlength=10  ng-model="create.request_from_pick_up_address"> <br>
 
      <label>City</label>
  <input type="text"  required ng-minlength=5  ng-model="create.request_from_city_location"> <br>
 
      <label>Post Code</label>
  <input type="text"  required  ng-model="create.request_from_post_code"> <br>
 
      <label>Location. URL</label>
  <input type="url"     ng-model="create.request_from_pick_up_address_url"> <br>
 
      <label>Pick up time</label>
  <input type="text"  required  ng-model="create.request_from_pick_up_time"> <br>
    
        
   <h1>To</h1>
  <label>E-mail</label>
  
 <label>Country</label>
  <input type="text"  required  ng-model="create.to_country"> <br>
 
      <label>Pick Up address</label>
  <input type="text"  required  ng-model="create.request_to_pick_up_address"> <br>
 
      <label>City</label>
  <input type="text"  required  ng-model="create.request_to_city_location"> <br>
 
      <label>Post Code</label>
  <input type="text"    ng-model="create.request_to_post_code"> <br>
 
      <label>Location. URL</label>
  <input type="text"    ng-model="create.request_to_pick_up_address_url"> <br>
     
     <label>Location. URL</label>
  <input type="text"     ng-model="create.comments"> <br>
    </div>

       <h1>Package spec</h1>

 <label>Request Weight Package</label>
  <input type="text"  required  ng-model="create.request_weight_package"> <br>
 
    
      <label>Description of the package</label>
  <input type="text"  required  ng-model="create.request_description_package"> <br>
 
      <label>Payment</label>
  <input type="text"  required  ng-model="create.request_payment_money"> <br>
 
      <label>Currency</label>
 <input type="text"  required  ng-model="create.request_currency_id"> <br>
 
   <label>Further Comments</label>
 <input type="text"  required  ng-model="create.request_comments"> <br>
 
     
<hr> 
      <label>Request. Duration Minutes</label>
 <input type="text"  required  ng-model="create.request_duration_minutes"> <br>
