
            <hr class="featurette-divider">
    <AppTitle><img src="/images/shareuser.png" heigth="30" width="30" >modify password</AppTitle>     
            <hr class="featurette-divider">

   <input type="password"    required name="password"    class="form-control" ng-model="user.pwd"    placeholder="enter a new password" autofocus/>  
      <br>
      <AppTitle>In ikuun we always advise you to astrong password, such as combining letters - adz -, with numbers -123...- and also some characters found on your keyboard such as  - $%&*_+  -.
      
      </AppTitle>
      <p><p></p>

      <button class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="changepwd()">update password</button>
      </div>




