
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      

      <!-- START THE FEATURETTES -->

   
  <div ng-controller="myCtrl">



             <hr class="featurette-divider">
    <AppTitle><img src="/images/shareuser.png" heigth="30" width="30" >ratings</AppTitle>     
             <hr class="featurette-divider">

    
        <input type="text"    readonly class="form-control" ng-model="user.rating"    placeholder="rating given to you" autofocus/>  
      <br>
      
      
      
          <hr class="featurette-divider">
    <AppTitle><img src="/images/shareuser.png" heigth="30" width="30" >rate others for the service provided to you</AppTitle>     
             <hr class="featurette-divider">

      
      <div>
	<div class='table-responsive'>
		<table class='table table-hover'>
			<thead>
				<th>ALIAS</th>
				<th>SOURCE</th>
				<th>DESTINATION</th>
				<th>SUBJECT</th>
				<th>DUEDATE</th>
				<th>TIMES</th>
				<th>Provide rating</th>
			</thead>
			<tr ng-repeat='request in requests'>
				<td>{{request.alias}}</td>
				<td>{{request.source}}</td>
				<td>{{request.destination}}</td>
				<td>{{request.subject}}</td>
				<td>{{request.duedate}}</td>
				<td><span class="badge">{{request.times}}</span></td>
				<td><button class='btn btn-lg btn-primary btn-block' ng-click='createOrder(request.id,request.user_id)'>ikuun!</button></td>
			</tr>
		</table>
	</div>
</div>
      
      
      <button class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="updaterating()">provide rating</button>        

<p>

    </div>




