    <form ng-controller='loginCtrlSingUp' ng-submit='login()' class="form-signup">
     <input type="email"  readonly  required name="email"    class="form-control" ng-model="user.email"    placeholder="email address" autofocus/>
     <br>
     <input type="email"    required name="country"    class="form-control" ng-model="user.country"    placeholder="name" autofocus/>	<br>
     
     <input type="email"    required name="country"    class="form-control" ng-model="user.country"    placeholder="surname" >	
     <br>  
     <input type="email"    required name="country"    class="form-control" ng-model="user.country"    placeholder="country" >	<br>
     <input type="text"    required name="year"    class="form-control" ng-model="user.year"    placeholder="year of brith" >
     <br>
     <input type="text"    required name="gender"    class="form-control" ng-model="user.gender"    placeholder="gender" >              <br>           
     
     <input type="text"    required name="twitter"    class="form-control" ng-model="user.twitter"    placeholder="twitter account" >  
     <br>

     <button class="btn btn-lg btn-warning btn-block" type="submit"  ng-click="changeuserinfo()">Save and Apply Changes</button>        
   </form>


   <!-- <label>Gender</label> -->


