<!DOCTYPE html>
<html lang="en" ng-app="ikuun-app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ikuun. home of social business </title>
    
<!-- css stuff here
================================================== -->    
  <link rel="stylesheet" href="/css/user_bootstrap.min.css">    
    

</head>
    
<!-- BAV BAR 
================================================== -->


<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
     <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/app"><img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#/app" class="dropdown-toggle" data-toggle="dropdown">about me<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/app/user-information">my information </a> </li>
            <li><a href="#/app/user-modify-access">change password </a> </li>
            <li><a href="#/app/user-rating">ratings</a> </li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#/app" class="dropdown-toggle" data-toggle="dropdown">my ikuun activity<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/app/user-activity">my activity</a> </li>        
            <li><a href="#/app/user-create-request">create a request</a> </li>   
          </ul>
        </li>
          <li><a href="#/app">all ikuun activity</a></li>
          
        <li><a href="#/">disconnect</a></li>
      </ul>
    </div><!-- /.navbar-collapse collapse . change language -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

<!-- END BAV BAR -->

<!-- dynamic content 
================================================== -->
    

<div class="container" ng-view/>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>
    <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
    <script type="text/javascript"   src="lib/services.js"></script>
    <script type="text/javascript"   src="lib/app.js"></script>
    <script type="text/javascript"   src="lib/controllers/requestsCtrl.js"></script>
    <script type="text/javascript"   src="lib/controllers/loginCtrl.js"></script>

    <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    

    <script src="js/offcanvas.js"></script>


  </body>
  </html>
