<!DOCTYPE html>
<html lang="en" ng-app="ikuun-app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ikuun. home of social business </title>
    
<!-- css stuff here
================================================== -->    
  <link rel="stylesheet" href="/css/user_bootstrap.min.css">    
    
</head>

    
<!-- BAV BAR 
================================================== -->


<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
     <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/app"><img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#/app/user-create-request" class="dropdown-toggle" data-toggle="dropdown">about me<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/app/user-information">my information </a> </li>
            <li><a href="#/app/user-modify-access">change password </a> </li>
            <li><a href="#/app/user-rating">ratings</a> </li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#/app/user-create-request" class="dropdown-toggle" data-toggle="dropdown">my ikuun activity<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/app/user-activity">my activity</a> </li>        
            <li><a href="#/app/user-create-request">create a request</a> </li>   
          </ul>
        </li>
          <li><a href="#/app">all ikuun activity</a></li>
          
        <li><a href="#/">disconnect</a></li>
      </ul>
    </div><!-- /.navbar-collapse collapse . change language -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

<!-- END BAV BAR -->

<!-- dynamic content 
================================================== -->
      <hr class="featurette-divider">
    
    <div class="container marketing">

    
 <div ng-controller="myCtrl">


<table cellspacing="0" width=750px>
		
    <tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. Country" autofocus/>  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. Pick up address" autofocus/>  
 </td>
			</tr>
    
<tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. City/Village" autofocus/>  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. City/Village" autofocus/>  
 </td>
			</tr>    
    
<tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. Address" autofocus/>  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. Address" autofocus/>  
 </td>
			</tr>
    
<tr class="first">
				<td ><input type="text"    ng-model="create.from_country" class="form-control"  placeholder="From. PostCode" autofocus/>  </td>
				<td> <input type="text"   ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. PostCode" autofocus/>  
 </td>
			</tr>
    
<tr class="first">
				<td ><input type="text"  required  ng-model="create.from_country" class="form-control"  placeholder="From. Enter url (eg. from google maps" autofocus/>  </td>
				<td> <input type="text"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="To. Enter full url (eg. from google maps)" autofocus/>  
 </td>
			</tr>    
    
        </table>
     
      <h1>Package spec</h1>

 <label>Request Weight Package</label>
  <input type="text"  required  ng-model="create.request_weight_package"> <br>
 
    
      <label>Description of the package</label>
  <input type="text"  required  ng-model="create.request_description_package"> <br>
 
      <label>Payment</label>
  <input type="text"  required  ng-model="create.request_payment_money"> <br>
 
      <label>Currency</label>
 <input type="text"  required  ng-model="create.request_currency_id"> <br>
 
   <label>Further Comments</label>
 <input type="text"  required  ng-model="create.request_comments"> <br>
 
     
<hr> 
      <label>Request. Duration Minutes</label>
 <input type="text"  required  ng-model="create.request_duration_minutes"> <br>

     
     
<br>     

    
<textarea rows="4" cols="50" type="area"  required ng-minlength=10 class="form-control" ng-model="create.request_from_pick_up_address" placeholder="Enter Comments" autofocus/>
</textarea>    
    
                           <br>

  <button class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="changeuserinfo()">save and submit a social request</button>        
</form>
                                    <br>
                           <br>
                           <br>
   
</script>

     <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
     <script type="text/javascript"   src="js/ikuun_form.js"></script>
     <script type="text/javascript"   src="js/ikuun.js"></script>

</body>