<!-- contact

================================================== -->

   <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Contact us</h2>
         <p>You can contact us on the following email address ikuun@ikuun.com</p>
         <p>We are always happy to hear from our customers, their feedback/suggestions are really important, so share with us what area(s)          you think we can improve.</p>
         Please allow us two or three working days to get back to you.
            
        </div>
      </div>
     

      <hr class="featurette-divider">
