
<html ng-app='myApp'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>ikuun</title>
    
      <link href="css/bootstrap2.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/offcanvas.css" rel="stylesheet">
    
     <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">
    
  
    
      <script type='text/javascript' src="http://code.angularjs.org/1.0.3/angular.min.js"></script>

    
<style>    
#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

  </style>
  
</head>
    <body

    <!-- NAVBAR
================================================== -->
     <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
               <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">iKuun.com</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#Help">Help</a></li>
                <li><a href="#FeedBack">feedback</a></li>
                <li><a href="#Log Out">Login out</a></li>                  
               
              </ul>
            </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    
    
    

      <p><p>    <p><p>    <p><p> <br><br><br>
    
<body ng-app='myInformationApp'>
  <div ng-controller="myCtrl">

<div data-hbo-tabs id="tabs">
    <ul>
        <li><a href="#tabs-1">User Information</a></li>
        <li><a href="#tabs-2">Raise a Request.</a></li>
        <li><a href="#tabs-3">See my activity</a></li>
        <li><a href="#tabs-4">See all activity</a></li>
    </ul>
    <div id="tabs-1" >
        
    
        <p>
              <h1>User Info</h1>
  <label>E-mail</label>
  <input type="email"  readonly  ng-model="user.email"> <br>
  <label>Last name</label>
  <input type="text" ng-model="user.lastName" readonly > <br>
  <label>First name</label>
  <input type="text" ng-model="user.firstName"  readonly> <br>
        
  <label>Gender</label>
  <input type="text" ng-model="user.gender" reqired placeholder="this is a drop down menu.. data from db"> <br>
  
  <label>Born. Year</label>
  <input type="text" ng-model="user.born_year" reqired placeholder="data from db"> <br>
        
    
  <label>Country</label>
  <input type="text" ng-model="user.country"  reqired placeholder="data from db.."> <br>
        
  <label>Twitter Account</label>
  <input type="text" ng-model="user.twitter_accuount"> <br>
          
<button id="passwordButton" class="secondaryButton" ng-click="showChangePassword()">Change User Information</button>
        
<p>
       
  <label>Passwrod</label>
  <input type="text" ng-model="user.twitter_accuount"> <br>
    <button ng-click="changepwd()">Change password</button>
<p>

       
  <label>overall rating given to you</label>
  <input type="text" ng-model="user.rating"> <br>
    
<p>

 </div>        
    
    <div id="tabs-2">
        <p>
        
        
        <div ng-controller="myCtrl">


   <h1>From</h1>
  <label>Country</label>
  <input type="text"  required  ng-model="create.from_country"> <br>
 
      <label>Pick Up address</label>
  <input type="text"  required ng-minlength=10  ng-model="create.request_from_pick_up_address"> <br>
 
      <label>City</label>
  <input type="text"  required ng-minlength=5  ng-model="create.request_from_city_location"> <br>
 
      <label>Post Code</label>
  <input type="text"  required  ng-model="create.request_from_post_code"> <br>
 
      <label>Location. URL</label>
  <input type="url"     ng-model="create.request_from_pick_up_address_url"> <br>
 
      <label>Pick up time</label>
  <input type="text"  required  ng-model="create.request_from_pick_up_time"> <br>
    
            
               <h1>To</h1>
  <label>E-mail</label>
  
 <label>Country</label>
  <input type="text"  required  ng-model="create.to_country"> <br>
 
      <label>Pick Up address</label>
  <input type="text"  required  ng-model="create.request_to_pick_up_address"> <br>
 
      <label>City</label>
  <input type="text"  required  ng-model="create.request_to_city_location"> <br>
 
      <label>Post Code</label>
  <input type="text"    ng-model="create.request_to_post_code"> <br>
 
      <label>Location. URL</label>
  <input type="text"    ng-model="create.request_to_pick_up_address_url"> <br>
     
     <label>Location. URL</label>
  <input type="text"     ng-model="create.comments"> <br>
 

                   <h1>Service</h1>
        
            
     <label>Request Weight Package</label>
  <input type="text"  required  ng-model="create.request_weight_package"> <br>
 
    
      <label>Description of the package</label>
  <input type="text"  required  ng-model="create.request_description_package"> <br>
 
      <label>Payment</label>
  <input type="text"  required  ng-model="create.request_payment_money"> <br>
 
      <label>Currency</label>
 <input type="text"  required  ng-model="create.request_currency_id"> <br>
 
   <label>Further Comments</label>
 <input type="text"  required  ng-model="create.request_comments"> <br>
 
     
<hr> 
      <label>Request. Duration Minutes</label>
 <input type="text"  required  ng-model="create.request_duration_minutes"> <br>

        
            
            
    </div>

            
            
        
        </p>
    </div>
    <div id="tabs-3">

  
        
        
      
      
      </div>
    <div id="tabs-4">

      <div class='pull-left span6'>
	<h3>Displaying {{requests.length}} Requests</h3>
	<div class='table-responsive'>
		<table class='table table-hover'>
			<thead>
				<th>ALIAS</th>
				<th>SOURCE</th>
				<th>DESTINATION</th>
				<th>SUBJECT</th>
				<th>REWARD</th>
				<th>DUEDATE</th>
				<th>TIMES</th>
				<th>form</th>
			</thead>
			<tr ng-repeat='request in requests'>
				<td>{{request.alias}}</td>
				<td>{{request.source}}</td>
				<td>{{request.destination}}</td>
				<td>{{request.subject}}</td>
				<td>{{request.reward}}</td>
				<td>{{request.duedate}}</td>
				<td><span class="badge">{{request.times}}</span></td>
				<td><button class='btn btn-lg btn-primary btn-block' ng-click='createOrder(request.id,request.user_id)'>I'll doo it!</button></td>
			</tr>
		</table>
	</div>
</div>
        
      
        <div class="media" ng-repeat='request in requests' ng-controller="requestsCtrl">
	<div class="pull-left">
		{{request.alias|uppercase}}
		<img class="media-object" src="" alt= "avatar de {{request.alias}}"/>
	</div>
	<div class="media-body">
		<h4 class="media-heading">From {{request.source}} to {{request.destination}}</h4>
		<p>{{request.subject}} for {{request.reward|currency}} no later than {{request.duedate | date:'dd/MM/yyyy'}}<br/>
			<span class="badge">{{request.times}}</span> People already applied<br/>
		    <div class='btn btn-primary' ng-click='createOrder(request.id,request.user_id)'>I'll doo it!</div>
		</p>
	</div>
</div>
        
        
      </div>
    
</div>
    
    </div>
  

<script type='text/javascript'>//<![CDATA[ 

var app=angular.module('myApp', [])
.controller('myCtrl', function ($scope) {
})
.directive('hboTabs', function() {
    return {
        restrict: 'A',
        link: function(scope, elm, attrs) {
            var jqueryElm = $(elm[0]);
            $(jqueryElm).tabs()
        }
    };
})



//]]>  

</script>
     <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="js/ikuun.js"> </script> 
    <script type="text/javascript" src="lib/controllers/inside_user_form.js"></script>
     
  
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  
  
  <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">
    
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    
      <script type='text/javascript' src="http://code.angularjs.org/1.0.3/angular.min.js"></script>
      <!-- Bootstrap core CSS -->
   <link href="css/bootstrap.min.css" rel="stylesheet">

  
  <style type='text/css'>
  
</body>


</html>


