<!-- information about ikuun and the its purupose

================================================== -->

<hr class="featurette-divider">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Services</h2>
          <p>..TEXT..</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Share</h2>
          <p>Sharing means you can reduce cost by connecting with others </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Connect</h2>
          <p>Currently there are two services we do provide</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">How it works</h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        
      </div>
<hr class="featurette-divider">
