<!-- legal jurisdiction

================================================== -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Jurisdiction</h2>
          <p class="lead">Ikuun comes from I kuungana, which means, in Shuahili, I connect. This is the goal of ikuun to connect people</p>
        </div>
      
      </div>

                   <p><a class="btn btn-default" href="#/legal" role="button">Back to Legal</a></p>
