<!-- about ikuun and all the legal aspects 

================================================== -->

  

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What is iKuun?<span class="text-muted">What is iKuun?</span></h2>
          <p>iKuun comes from "I kuungana", which means, in Shuahili, "I connect". This is our aim and unique goal, to connect people across the globe.</p>
              <p>Click on the link below if you wish to learn more about us, and team behind 
                </p>
              <p><a class="btn btn-default" href="#/about-ikuun" role="button">View details &raquo;</a></p>    
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/people.jpg" heigth="250" width="250" alt="social">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        
        <div class="col-md-10">
          <h2 class="featurette-heading">Legal Aspects</h2>
          <p> Please make sure you read and understand all the legal aspect of using iKuun. By joining iKuun you agree with all the legal aspects covered on this site.</p>
           <p><a class="btn btn-default" href="#/legal-information" role="button">View details &raquo;</a></p>    

        </div>
      </div>

   
      <hr class="featurette-divider">

     