<!--  legal aspects 

================================================== -->




      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-9">
          <h2 class="featurette-heading">Conditions<span class="text-muted">See for yourself.</span></h2>
          <p>These General Conditions of Use apply to all services provided by Ikuun, a company registered in Santander ( Spain ). </p>
          <p>Company reference 123456</p>
            <p> Ikuun was created in 2014, and currently operates sole through www.ikuun.com</p>
 
        </div>
      </div>

   
  <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Terms<span class="text-muted">See for yourself.</span></h2>
         <p>Make sure you get familiar with the terminology used across this site </p>
        <p><b>- User</b></p>
        1
        <p><b>- Request</b></p>
        2    
        </div>
      </div>
     

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Acceptance of Conditions<span class="text-muted">See for yourself.</span></h2>
          <p>These terms apply to any use of the Site whatsoever. By using any service provided by ikuun, Members accept these Conditions               in full, even if a Member does not create a User Account.
            No access to the Services will be permitted unless the Conditions are accepted in full. </p>
 In the event that any Member fails to comply with any of the Conditions ikuun reserves the right to withdraw the User Account in question and suspend or withdraw all Services to that Member without notice.
            ikuun reserves the right to modify the Conditions at any time.
            Any modification to the Site, Services or Conditions will take effect as soon as such changes are published on the Site and without any notice.
            Changes will not apply to any requests which have been made prior to publication of the varied Conditions.
        </div>
      </div>

   
  <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Use of Services<span class="text-muted">Use of Services</span></h2>
          <p >In order to use the Services each Member must create a User Account and agrees to provide any personal information requested by ikuun. In particular, Members will be required to provide their first name, last name, age, title, valid telephone number and email address. Use of the Site is limited to those over the age of 18 at the time of registration.</p>
     <p>
Members agree and accept that all of the information they provide to ikuun when setting up their User Account and at any other time will be true, complete and accurate in all respects.Members also agree that any information supplied to ikuun or posted on the Site in connection with any Trip, Vehicle or Car Sharing will be true accurate and complete.
          </p>
            <p>ikuun will not be liable to any Member in the event that any information provided by a Member (including for the avoidance of doubt another Member) which is incomplete, inaccurate, misleading or fraudulent.</p>
            The Site and the Services are strictly limited to providing a Service for Drivers and Passengers to car share in a private capacity. The Services may not be used to offer or accept car sharingfor profit or in any commercial or professional context.
 Drivers may not profit from any Trip. The Service and the Cost Contribution may only be used to discharge the Driver’s costs and may not be used to generate any profit for the Driver. 
            All Trips, collection points and destinations must be pre-agreed through the Site in advance. Drivers may not collect any Passengers from any location which has not been pre-agreed with the Passenger through the Site.
            Drivers may not profit from any Trip. The Service and the Cost Contribution may only be used to discharge the Driver’s costs and may not be used to generate any profit for the Driver.
            All Trips, collection points and destinations must be pre-agreed through the Site in advance. Drivers may not collect any Passengers from any location which has not been pre-agreed with the Passenger through the Site.
            
        </div>
      </div>
     

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Obligations between the parties<span class="text-muted">See for yourself.</span></h2>
     
            <p>
            The Driver agrees:
                They will have a valid insurance at the time of the trip.
That they will present themselves on time and at the place agreed with the specified vehicle.
That they will immediately inform all Passengers of any change whatsoever to the Trip. If one or more Passengers have made a booking and the Driver decides to change any aspect of the Trip, the Driver undertakes to contact all Passengers who have made a booking in relation to that Trip and to obtain the agreement of all Passengers to the change. If a Passenger refuses the change, they are entitled to a full refund and without any compensation being paid to the Driver.
The Driver must comply with the Good Conduct Charter at all times.
The Driver must wait for the Passenger at the pickup point for at least 30 minutes after the agreed time (however, the Passenger is expected to be punctual).</p>
            
            The Passenger agrees:
That they will present themselves on time and at the place agreed with the Driver;
That they will immediately inform the Driver or ikuun if they are required to cancel a Trip.
That they will comply with the Good Conduct Charter at all times.
The Passenger agrees to wait at the pickup point for at least 30 minutes after the agreed time for the Driver to arrive.
That they will pay the Cost Contribution to the Driver.
If the Passenger or Driver fail to comply with any of these terms or any other Conditions ikuun reserves the right to keep information relating to the breach, to publish or disclose this information on the Member’s online profile and to suspend or withdraw the Member’s access to the Site.
            
            If the Driver does make a profit, or if the insurers repudiate or refuse to accept any claim arising during a Tripfor any other reason the Driver will be responsible for the financial consequences,losses and damages arising and ikuun will not be liable under any circumstances to the Driver or the Passenger.
            
            
            The Driver agrees and undertakes that they will take out and maintain insurance to cover the Trip and any car sharing offered or booked through the Site (including for the avoidance of doubt insurance to cover any international or overseas part of a Trip). The Driver agrees that they will, on request, provide the Passenger with evidence in advance of the Trip of the complete validity of its insurance policy. The Driver also undertakes to hold a valid driving licence and that the Driver will own or will be entitled to use the vehicle and that the vehicle will have a valid MOT certificate and the Passenger is entitled to request evidence of the Driver’s insurance, registration certificate (‘log book’), driving licence and MOT certificate at any time up to completion of the Trip.
It is ikuun’s understanding that most insurers take the view that a Passenger who contributes only towards travel expenses is treated as travelling for free, and is therefore a third party passenger who is covered by compulsory third party insurance in the United Kingdom.However ikuun gives no warranty or assurance in this regard and it is the Driver’s responsibility to verify that their insurance provides adequate cover.
           
        </div>
      </div>


  <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Payments and Bookings/Request<span class="text-muted">See for yourself.</span></h2>
          <p> ikuun will not contact either party and will take no steps whatsoever to manage the booking.The service is managed by Drivers and Passengers.</p>
             <p>Please note that ikuun reserves the right to change any aspect of the Site or its service which may include adding new services (which may require payment) or withdrawing services.</p>
 
 
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">Liability<span class="text-muted">Liability</span></h2>
          <p >ikuun is not a party to any agreement between a Driver and Passenger and will not be liable to either party unless the loss or damage incurred arises due to ikuun’s negligence.
ikuun shall not be liable for any loss or damage arising as a result of:
Any inaccurate or incomplete information being provided by a Member;
The cancellation of a Trip by a Driver or Passenger;
Any failure to make payment of a Cost Contribution (for the free service without booking);
Any fraud, fraudulent misrepresentation or breach of duty or breach of any of these Conditions by a Driver or Passenger before, during or after a Trip.
ikuun will not be liable to any member for any business, financial or economic loss or for any consequential or indirect loss such as lost reputation, lost bargain, lost profit, lost of anticipated savings or lost opportunity arising as a result of the services provided by ikuun (whether suffered or incurred as a result of the ikuun’s negligence or otherwise) except in the case of fraud, wilful concealment or theft.
ikuun’s liability to any Member for all losses in respect of any Trip is capped at the sum of £25.
            
            Given that Drivers are required to hold valid insurance to cover a Trip and given that ikuun’s service is limited to putting Drivers and Passengers in touch with each other and cannot oversee any Trip Members accept that the limitations on the ikuun’s liability set out above are reasonable.
              
            </p>
 
        </div>
      </div>

  <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-10">
          <h2 class="featurette-heading">General Terms<span class="text-muted">GT</span></h2>
          <p >ikuun is not a party to any agreement between a Driver and Passenger and will not be liable to either party unless the loss or damage incurred arises due to ikuun’s negligence.
ikuun shall not be liable for any loss or damage arising as a result of:
Any inaccurate or incomplete information being provided by a Member;
The cancellation of a Trip by a Driver or Passenger;
Any failure to make payment of a Cost Contribution (for the free service without booking);
Any fraud, fraudulent misrepresentation or breach of duty or breach of any of these Conditions by a Driver or Passenger before, during or after a Trip.
ikuun will not be liable to any member for any business, financial or economic loss or for any consequential or indirect loss such as lost reputation, lost bargain, lost profit, lost of anticipated savings or lost opportunity arising as a result of the services provided by ikuun (whether suffered or incurred as a result of the ikuun’s negligence or otherwise) except in the case of fraud, wilful concealment or theft.
ikuun’s liability to any Member for all losses in respect of any Trip is capped at the sum of £25.
            
            Given that Drivers are required to hold valid insurance to cover a Trip and given that ikuun’s service is limited to putting Drivers and Passengers in touch with each other and cannot oversee any Trip Members accept that the limitations on the ikuun’s liability set out above are reasonable.
            </p>
 
        </div>
      </div>

  <hr class="featurette-divider">
