<!-- about ikuun and all the legal aspects 

================================================== -->

  

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What is iKuun?<span class="text-muted"></span></h2>
          <p class="lead">Ikuun comes from I kuungana, which means, in Shuahili, I connect. This is our aim and unique goal of <img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"> to connect people across the globe</p>
              <p>Want to know more about  <img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"> and the aim of the company
                </p>
              <p><a class="btn btn-default" href="#/about-ikuun" role="button">View details &raquo;</a></p>    
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/people.jpg" heigth="250" width="250" alt="social">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/people.jpg" heigth="250" width="250" alt="social">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Legal Aspects<span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Please make sure you read and understand all the legal aspect of using <img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"></p>
                          <p><a class="btn btn-default" href="#/legal-information" role="button">View details &raquo;</a></p>    

        </div>
      </div>

   
      <hr class="featurette-divider">

     