

      <div class="row row-offcanvas">

        <div class="col-xs-121 col-sm-91">
      
          <div class="row">
           
            <div class="col-6 col-sm-6 col-lg-42">
              <h2>Contact  <img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg"> </h2>
              <p>We are always happy to receive feedback from our customers. So, please drop us a line.
                </p>
              <p><a class="btn btn-default" href="#/contact_us" role="button">View details &raquo;</a></p>
            </div><!--/span-->
           </div>
            
              <div class="col-6 col-sm-6 col-lg-4">
              <h2>Code of Ethics</h2>
              <p>Check below the code of ethics while using  <img heigth="50" width="50" src="http://createfunnylogo.com/logo/twitter/ikuun.jpg">
              <p><a class="btn btn-default" href="#/code_of_ethics" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            
            
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Terms. Definition</h2>
              <p>Get familiar with all terminology used on this site.</p>
              <p><a class="btn btn-default" href="#/terms_and_conditions" role="button">View details &raquo;</a></p>
            </div><!--/span-->
           
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Relationships</h2>
              <p>Check out the relationship and also obligations between all the different parties. </p>
              <p><a class="btn btn-default" href="#/relationship" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Liability</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#/liability" role="button">View details &raquo;</a></p>
            </div><!--/span-->
           
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Privacy</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#/privacy" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Jurisdiction</h2>
              <p>Jurisdiction is the right and power to interpret and apply the law by a Court in a particular geographic location. In case of an
              dispute arises, this shall be subject to the jurisdiction of the Court of Spain.</p>
              <p><a class="btn btn-default" href="#/jurisdiction" role="button">View details &raquo;</a></p>
            </div><!--/span-->
      
            
             
      
          </div><!--/row-->
        </div><!--/span-->

  