
<!-- login

================================================== -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
      
   
<!-- existing customer
================================================== -->         
            
            <h2 class="featurette-heading">Existing Customer<span class="text-muted"></span></h2>
          <p class="lead">Enter your email account and password to get into ikuun</p>
        </div>
        <div class="col-md-5">
          
            <form  data-ng-app="myApp" ng-controller='loginCtrlSignIn' ng-submit='login()' class="form-signin">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="email"    name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
	<input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password"/>
	<label class="checkbox">

    
        
        
        <input type="checkbox" value="remember-me"/>Remember me

                </label>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
            
          </div>
      </div>

   
<!-- existing customer
================================================== -->      
        
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         
                    <form ng-controller='loginCtrlSingUp' ng-submit='login()' class="form-signup">
	<h2 class="form-signin-heading">Please sign up</h2>
	<input type="email"    required name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
	<input type="password" required name="password" class="form-control" ng-model="user.password" placeholder="Password"/>
	<input type="text"    required name="year"    class="form-control" ng-model="user.year"    placeholder="Year of Brith" autofocus/>
	<input type="text"    required name="gender"    class="form-control" ng-model="user.gender"    placeholder="Gender" autofocus/>            <input type="text" required    name="Security"     class="form-control" ng-model="user.security_check"    placeholder= "security check" autofocus/>             
                        
                        
                        
                        
                          <br>

	<button class="btn btn-lg btn-primary btn-block" type="submit">sign up</button>
</form>
    
            
            
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Sing Up<span class="text-muted"> New user. Welcome</span></h2>
          <p class="lead">To join ikuun network you need to sign up, for free.Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

        
   
<!-- fetch pwd
================================================== -->     
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Forgot  your password? <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">

               <form ng-controller='loginCtrl' ng-submit='login()' class="form-pwd-remainder">
        <h2 class="form-signin-heading">Retrieve Password</h2>
        <input type="email"    name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
                  <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send Password</button>
                </form>
          
          </div>
      </div>

      <hr class="featurette-divider">

   
    </div><!-- /.container -->

        <a href="#app">go to app</a>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript"   src="js/holder.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
  <script type="text/javascript"   src="lib/app.js"></script>
  <script type="text/javascript"   src="lib/services.js"></script>
  <script type="text/javascript"   src="lib/controllers/requestsCtrl.js"></script>
  <script type="text/javascript"   src="lib/controllers/loginCtrl.js"></script>
    


    
  </body>
</html>
