<!DOCTYPE html>
<html lang="en" ng-app="ikuun">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="iKuun homepage">
    <meta name="author" content="muallin@gmail.com">
<!--    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

    <title>iKuun</title>

    <!-- Bootstrap core CSS -->
   <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
      
      <script>
var x=3;
var y=6;
var z=x+y;


document.write(z + "<br>");
</script>
      
  </head>
<!-- NAVBAR
================================================== -->
     <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
               <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">iKuun.com</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#signin">Login</a></li>                  
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Request carrier</a></li>
                    <li><a href="#">Find oportunity</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Info</li>
                    <li><a href="#/legal">Legal terms</a></li>
                    <li><a href="#">Who we are</a></li>
                  </ul>
                </li>
              </ul>
            </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->


      <p><p>    <p><p>    <p><p> <br><br><br>




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
      
            
            
            <h2 class="featurette-heading">Existing Customer<span class="text-muted"></span></h2>
          <p class="lead">Enter your email account and password to get into ikuun</p>
        </div>
        <div class="col-md-5">
          
            <form ng-controller='loginCtrl' ng-submit='login()' class="form-signin">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="email"    name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
	<input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password"/>
	<label class="checkbox">
		<input type="checkbox" value="remember-me"/>Remember me

                </label>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
            
          </div>
      </div>

             <!-- START THE FEATURETTES 2 -->
 
        
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         
                    <form ng-controller='loginCtrl' ng-submit='login()' class="form-signup">
	<h2 class="form-signin-heading">Please sign up</h2>
	<input type="email"    required name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
	<input type="password" required name="password" class="form-control" ng-model="user.password" placeholder="Password"/>
	<input type="text"    required name="year"    class="form-control" ng-model="user.year"    placeholder="Year of Brith" autofocus/>
	<input type="text"    required name="gender"    class="form-control" ng-model="user.gender"    placeholder="Gender" autofocus/>            <input type="text" required    name="Security"     class="form-control" ng-model="user.security_check"    placeholder= "security check" autofocus/>                        
        <label class="checkbox">
		
                </label>
	<button class="btn btn-lg btn-primary btn-block" type="submit">sign up</button>
</form>
    
            
            
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Sing Up<span class="text-muted"> New user. Welcome</span></h2>
          <p class="lead">To join ikuun network you need to sign up, for free.<font color=#99BBBB> Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

        
                     <!-- START THE FEATURETTES 3 -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Forgot  your password? <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">

               <form ng-controller='loginCtrl' ng-submit='login()' class="form-pwd-remainder">
        <h2 class="form-signin-heading">Retrieve Password</h2>
        <input type="email"    name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send Password</button>
                </form>
          
          </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript"   src="js/holder.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
  <script type="text/javascript"   src="lib/app.js"></script>
  <script type="text/javascript"   src="lib/services.js"></script>
  <script type="text/javascript"   src="lib/controllers/requestsCtrl.js"></script>
  <script type="text/javascript"   src="lib/controllers/loginCtrl.js"></script>
    


    
  </body>
</html>
