
<!-- login
        	<label class="checkbox">
<input type="checkbox" value="remember-me"/>Remember me
http://jsfiddle.net/plantface/tuG6R/3/
http://jsfiddle.net/simpulton/XqDxG/
================================================== -->
    
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      
   
<!-- existing customer
================================================== -->         
   <div class="row featurette">
        <div class="col-md-7">
      
            <h2 class="featurette-heading">Existing Customer</h2>
          <p>Enter your email account and password to get into iKuun. If you forgot your password go to the end of the page, so you can retrieve your password</p>
        </div>
        <div class="col-md-5">
          
	<h2 class="form-signin-heading">Sign in</h2>
    
    <div ng-app="app" ng-controller="MainCtrl">   <!-- controler   -->  
            
    <form name="form" valid-submit="sendFormToServerSin()" novalidate>
        
	<input id="name" type="text"  name="name" required   class="form-control" ng-model="user.name"    placeholder="enter email" autofocus/>
        <div class="help-block" ng-show="form.$submitted && form.name.$invalid">e-mail is required</div>         
        
	<input id="password" type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password"/>
        <div class="help-block" ng-show="form.$submitted && form.password.$invalid">password is required</div>              

        <br>
       <!--   <div class="help-block" ng-show="form.$submitted && form.name.$invalid">email/password required fields</div> -->

	<button  class="btn btn-lg btn-warning  btn-block" type="submit">Sign in</button>

    </form>
    
            
    </div>
    </div>

</div>
   
<!-- existing customer
================================================== -->      
        
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         
     <div ng-app="app" ng-controller="loginSignUp">   <!-- controler   -->          
         
     <form name="form" valid-submit="sendFormToServerSup()" novalidate>   
	<h2 class="form-signin-heading">New Customer</h2>
         
	<input type="email"    required name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
    <div class="help-block" ng-show="form.$submitted && form.email.$invalid">e-mail is required</div>         
         
	<input type="password" required name="password" class="form-control" ng-model="user.password" placeholder="Password"/>
    <div class="help-block" ng-show="form.$submitted && form.password.$invalid">password is required</div>         
         
    <input type="text"    required name="year"    class="form-control" ng-model="user.year"    placeholder="Year of birth (YYYY)" autofocus/>
    <div class="help-block" ng-show="form.$submitted && form.year.$invalid">year is required</div>         
         
	<input type="text"    required name="gender"    class="form-control" ng-model="user.gender"    placeholder="Gender" autofocus/>
    <div class="help-block" ng-show="form.$submitted && form.gender.$invalid">gender is required</div>         
    
        
    <input type="text" required    name="security"     class="form-control" ng-model="user.value"    placeholder= "{{random.value}}" autofocus/>               <div class="help-block" ng-show="form.$submitted && form.security.$invalid">security check is required</div>         
                        
    <br>

	<button class="btn btn-lg btn-warning  btn-block" type="submit">Sign up</button>
</form>
    
       </div>     
            
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Sing Up</h2>
          <p>Welcome to iKuun. To sign up only takes a few seconds, and indeed it is free. By joining the site you agree with all the legal matters of this site. </p>
        </div>
      </div>

        
        
   
<!-- fetch pwd
================================================== -->     
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Forgot  your password?</h2>
          <p>Enter your email address, and in a few minutes we shall send you an email with the instructions to follow.</p>
        </div>
        <div class="col-md-5">
     <div ng-app="app" ng-controller="loginGetAcs">   <!-- controler   -->          

     <form name="form" valid-submit="sendFormToServerGetAcs()" novalidate>   
        <h2 class="form-signin-heading">Retrieve Password</h2>
        <input type="email"    name="email"    class="form-control" ng-model="user.email"    placeholder="Email address" autofocus/>
             <div class="help-block" ng-show="form.$submitted && form.email.$invalid">email is required</div>         

         
                  <br>
            <button class="btn btn-lg btn-warning  btn-block" type="submit">Get Password</button>
                </form>
          
          </div>
      </div>

      <hr class="featurette-divider">

   
    </div><!-- /.container -->
      <hr class="featurette-divider">

     <a href="#app">go to app</a>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript"   src="js/holder.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
  <script type="text/javascript"   src="lib/app.js"></script>
  <script type="text/javascript"   src="lib/services.js"></script>
  <script type="text/javascript"   src="lib/controllers/requestsCtrl.js"></script>
  <script type="text/javascript"   src="lib/controllers/loginCtrl.js"></script>
  <script type="text/javascript"   src="lib/controllers/loginSignUp.js"></script>

    
  </body>
</html>