<!DOCTYPE html>
<html lang="en" ng-app="xtk">
  <head>
   
       <script src="/lib/controllers/grade.js"></script>

  </head>
  <body>

<div ng-controller="ab">
    <h4>{{name}}</h4>
    
    hello , {{name}}
    
</div>
 <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
`
  </body>
</html>
