<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Ikuun. Legal Terms</title>

    <!-- Bootstrap core CSS -->
    
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
               <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">iKuun.com</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#signin">Login</a></li>
                <li><a href="#signup">Join Us !</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Request carrier</a></li>
                    <li><a href="#">Find oportunity</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Info</li>
                    <li><a href="#/legal">Legal terms</a></li>
                    <li><a href="#">Who we are</a></li>
                  </ul>
                </li>
              </ul>
            </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <p><p>    <p><p>    <p><p> <br><br><br>

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
      
          <div class="row">
           
              <h2>Privacy</h2>
              <p>Please make sure you follow and udnerstand the CODE OF ETHICS by using this site.</p>
            </div><!--/span-->
           
           
      
      
          </div><!--/row-->
        </div><!--/span-->

       
 	  </div><!--/.container-->
     
     <!-- FOOTER -->
      <footer class="margin100">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 iKuun.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

   



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script

 <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.min.js"><
  <script type="text/javascript"   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.min.js"></sc
  <script type="text/javascript"   src="lib/app.js"></script>
  <script type="text/javascript"   src="lib/services.js"></script>
  <script type="text/javascript"   src="lib/controllers/requestsCtrl.js"></script>
  <script type="text/javascript"   src="lib/controllers/loginCtrl.js"></script>
    <script src="js/offcanvas.js"></script>
  </body>
</html>
