
 <div ng-controller="myCtrl">


   <h1>From</h1>
  <label>Country</label>
  <input type="text"  required  ng-model="create.from_country"> <br>
 
      <label>Pick Up address</label>
  <input type="text"  required ng-minlength=10  ng-model="create.request_from_pick_up_address"> <br>
 
      <label>City</label>
  <input type="text"  required ng-minlength=5  ng-model="create.request_from_city_location"> <br>
 
      <label>Post Code</label>
  <input type="text"  required  ng-model="create.request_from_post_code"> <br>
 
      <label>Location. URL</label>
  <input type="url"     ng-model="create.request_from_pick_up_address_url"> <br>
 
      <label>Pick up time</label>
  <input type="text"  required  ng-model="create.request_from_pick_up_time"> <br>
    
    
    </div>
