
 <div ng-controller="myCtrl">


   <h1>Package spec</h1>
  <label>E-mail</label>
  
 <label>Country</label>
  <input type="text"  required  ng-model="create.request_weight_package"> <br>
 
      <label>Pick Up address</label>
  <input type="text"  required  ng-model="create.request_weight_in"> <br>
 
      <label>City</label>
  <input type="text"  required  ng-model="create.request_description_package"> <br>
 
      <label>Post Code</label>
  <input type="text"  required  ng-model="create.request_payment_money"> <br>
 
      <label>Location. URL</label>
 <input type="text"  required  ng-model="create.request_currency_id"> <br>
 

 



    </div>
