
 <div ng-controller="myCtrl">



    
   <h1>To</h1>
  <label>E-mail</label>
  
 <label>Country</label>
  <input type="text"  required  ng-model="create.to_country"> <br>
 
      <label>Pick Up address</label>
  <input type="text"  required  ng-model="create.request_to_pick_up_address"> <br>
 
      <label>City</label>
  <input type="text"  required  ng-model="create.request_to_city_location"> <br>
 
      <label>Post Code</label>
  <input type="text"    ng-model="create.request_to_post_code"> <br>
 
      <label>Location. URL</label>
  <input type="text"    ng-model="create.request_to_pick_up_address_url"> <br>
     
     <label>Location. URL</label>
  <input type="text"     ng-model="create.comments"> <br>
 
    

    </div>
