
 <div ng-controller="myCtrl">


   <h1>Package spec</h1>

 <label>Request Weight Package</label>
  <input type="text"  required  ng-model="create.request_weight_package"> <br>
 
    
      <label>Description of the package</label>
  <input type="text"  required  ng-model="create.request_description_package"> <br>
 
      <label>Payment</label>
  <input type="text"  required  ng-model="create.request_payment_money"> <br>
 
      <label>Currency</label>
 <input type="text"  required  ng-model="create.request_currency_id"> <br>
 
   <label>Further Comments</label>
 <input type="text"  required  ng-model="create.request_comments"> <br>
 
     
<hr> 
      <label>Request. Duration Minutes</label>
 <input type="text"  required  ng-model="create.request_duration_minutes"> <br>



    </div>
