    <body ng-app='myInformationApp'>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

   
  <div ng-controller="myCtrl">


              <h1>User Info</h1>
  <label>E-mail</label>
  <input type="email"  readonly  ng-model="user.email"> <br>
  <label>Last name</label>
  <input type="text" ng-model="user.lastName" readonly required> <br>
  <label>First name</label>
  <input type="text" ng-model="user.firstName" readonly> <br>
        
  <label>Gender</label>
  <input type="text" ng-model="user.gender" placeholder="this is a drop down menu.. data from db"> <br>
  
  <label>Born. Year</label>
  <input type="text" ng-model="user.born_year" placeholder="data from db"> <br>
        
    
  <label>Country</label>
  <input type="text" ng-model="user.country" placeholder="data from db.."> <br>
        
  <label>Twitter Account</label>
  <input type="text" ng-model="user.twitter_accuount"> <br>
          
<button id="passwordButton" class="secondaryButton" ng-click="showChangePassword()">Change User Information</button>
        
<p>
            <hr class="featurette-divider">
               <h1>Modify Password</h1>

  <label>Passwrod</label>
  <input type="text" ng-model="user.twitter_accuount"> 
    <button ng-click="changepwd()">Change password</button>
<p>

             <hr class="featurette-divider">
               <h1>Rating</h1>

  <label>overall rating given to you</label>
  <input type="text" ng-model="user.rating"> <br>
    
<p>

    </div>
       
        


<script type='text/javascript'>//<![CDATA[ 

var app=angular.module('myApp', [])
.controller('myCtrl', function ($scope) {
})
.directive('hboTabs', function() {
    return {
        restrict: 'A',
        link: function(scope, elm, attrs) {
            var jqueryElm = $(elm[0]);
            $(jqueryElm).tabs()
        }
    };
})

//]]>  

</script>

     <script type="text/javascript"   src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
     <script type="text/javascript"   src="js/ikuun_form.js"></script>
     <script type="text/javascript"   src="js/ikuun.js"></script>

</body>



